<h2>Data from your RaspberryPi devices</h2>
<label for="minutes">RaspberryPi device:</label>
<select id="pi" [(ngModel)]="selectedPi">
  <option value="pi1">Pi1</option>
  <option value="pi2">Pi2</option>
  <option value="pi3">Pi3</option>
</select>
<div id="p1" *ngIf="selectedPi=='pi1'">
  <iframe src="http://localhost:3000/d-solo/ffc89193-6083-472e-ae50-6b0897199274/dashbords-iot?orgId=1&from=1705704359055&to=1705704659055&panelId=1" width="450" height="200" frameborder="0"></iframe>
  <iframe src="http://localhost:3000/d-solo/ffc89193-6083-472e-ae50-6b0897199274/dashbords-iot?orgId=1&from=1706145587405&to=1706145887405&panelId=2" width="450" height="200" frameborder="0"></iframe>
</div>

<div id="pi2" *ngIf="selectedPi=='pi2'">
  <iframe src="http://localhost:3000/d-solo/ffc89193-6083-472e-ae50-6b0897199274/dashbords-iot?orgId=1&from=1706150683592&to=1706150983592&panelId=9" width="450" height="200" frameborder="0"></iframe>
  <iframe src="http://localhost:3000/d-solo/ffc89193-6083-472e-ae50-6b0897199274/dashbords-iot?orgId=1&from=1706151705436&to=1706152005436&panelId=14" width="450" height="200" frameborder="0"></iframe>
  <iframe src="http://localhost:3000/d-solo/ffc89193-6083-472e-ae50-6b0897199274/dashbords-iot?orgId=1&from=1706151102853&to=1706151402853&panelId=10" width="450" height="200" frameborder="0"></iframe>
  <iframe src="http://localhost:3000/d-solo/ffc89193-6083-472e-ae50-6b0897199274/dashbords-iot?orgId=1&from=1706151223937&to=1706151523937&panelId=11" width="450" height="200" frameborder="0"></iframe>
  <iframe src="http://localhost:3000/d-solo/ffc89193-6083-472e-ae50-6b0897199274/dashbords-iot?orgId=1&from=1706151313104&to=1706151613104&panelId=12" width="450" height="200" frameborder="0"></iframe>
  <iframe src="http://localhost:3000/d-solo/ffc89193-6083-472e-ae50-6b0897199274/dashbords-iot?orgId=1&from=1706151429450&to=1706151729450&panelId=13" width="450" height="200" frameborder="0"></iframe>
  <iframe src="http://localhost:3000/d-solo/ffc89193-6083-472e-ae50-6b0897199274/dashbords-iot?orgId=1&from=1706153556058&to=1706153856058&panelId=15" width="450" height="200" frameborder="0"></iframe>
  <iframe src="http://localhost:3000/d-solo/ffc89193-6083-472e-ae50-6b0897199274/dashbords-iot?orgId=1&from=1706153835797&to=1706154135797&panelId=16" width="450" height="200" frameborder="0"></iframe>
  <iframe src="http://localhost:3000/d-solo/ffc89193-6083-472e-ae50-6b0897199274/dashbords-iot?orgId=1&from=1706153937781&to=1706154237781&panelId=17" width="450" height="200" frameborder="0"></iframe>
</div>

<div id="pi3" *ngIf="selectedPi=='pi3'">
  <iframe src="http://localhost:3000/d-solo/ffc89193-6083-472e-ae50-6b0897199274/dashbords-iot?orgId=1&from=1706147056906&to=1706147356906&panelId=5" width="450" height="200" frameborder="0"></iframe>
  <iframe src="http://localhost:3000/d-solo/ffc89193-6083-472e-ae50-6b0897199274/dashbords-iot?orgId=1&from=1706147208840&to=1706147508840&panelId=6" width="450" height="200" frameborder="0"></iframe>
  <iframe src="http://localhost:3000/d-solo/ffc89193-6083-472e-ae50-6b0897199274/dashbords-iot?orgId=1&from=1706148204672&to=1706148504672&panelId=7" width="450" height="200" frameborder="0"></iframe>
  <iframe src="http://localhost:3000/d-solo/ffc89193-6083-472e-ae50-6b0897199274/dashbords-iot?orgId=1&from=1706146570260&to=1706146870260&panelId=4" width="450" height="200" frameborder="0"></iframe>
  <iframe src="http://localhost:3000/d-solo/ffc89193-6083-472e-ae50-6b0897199274/dashbords-iot?orgId=1&from=1706146134258&to=1706146434258&panelId=3" width="450" height="200" frameborder="0"></iframe>
  <iframe src="http://localhost:3000/d-solo/ffc89193-6083-472e-ae50-6b0897199274/dashbords-iot?orgId=1&from=1706148380431&to=1706148680431&panelId=8" width="450" height="200" frameborder="0"></iframe>
</div>


<div>
  <label for="modeSelect">Select RGB Mode:</label>
  <select id="modeSelect" [(ngModel)]="selectedMode" (change)="onChangeMode()">
    <option value="off">Off</option>
    <option value="red">Red</option>
    <option value="blue">Blue</option>
    <option value="green">Green</option>
    <option value="white">White</option>
    <option value="yellow">Yellow</option>
    <option value="purple">Purple</option>
    <option value="light_blue">Light Blue</option>
  </select>
</div>
<div *ngIf="alarm" class="overlay">
  <div class="popup">
    <div id="container">
      <h1>{{numb}}</h1>
      <ul id="keyboard">
        <li class="letter" (click)="updateNumber('1')">1</li>
        <li class="letter" (click)="updateNumber('2')">2</li>
        <li class="letter" (click)="updateNumber('3')">3</li>
        <li class="letter clearl" (click)="updateNumber('4')">4</li>
        <li class="letter" (click)="updateNumber('5')">5</li>
        <li class="letter" (click)="updateNumber('6')">6</li>

        <li class="letter clearl" (click)="updateNumber('7')">7</li>
        <li class="letter" (click)="updateNumber('8')">8</li>
        <li class="letter" (click)="updateNumber('9')">9</li>
        <li class="letter clearl" (click)="updateNumber('0')">0</li>
        <li class="letter" (click)="onGoClick()">GO</li>
        <li class="letter" (click)="onDeleteClick()">DEL</li>
      </ul>
    </div>
  </div>
</div>

<div>
  <label for="hours">Hours:</label>
  <select id="hours" [(ngModel)]="selectedHour">
    <option value="00">00</option>
    <option value="01">1</option>
    <option value="02">2</option>
    <option value="03">3</option>
    <option value="04">4</option>
    <option value="05">5</option>
    <option value="06">6</option>
    <option value="07">7</option>
    <option value="08">8</option>
    <option value="09">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
  </select>

  <label for="minutes">Minutes:</label>
  <select id="minutes" [(ngModel)]="selectedMinute">
    <option value="0">00</option>
    <option value="05">05</option>
    <option value="10">10</option>
    <option value="15">15</option>
    <option value="20">20</option>
    <option value="25">25</option>
    <option value="30">30</option>
    <option value="35">35</option>
    <option value="40">40</option>
    <option value="45">45</option>
    <option value="50">50</option>
    <option value="55">55</option>
  </select>
  <button (click)="addAlarmCLock()">Add alarm clock</button>
</div>


<div *ngIf="alarmClock" class="overlay">
  <div class="popup">
    <h2>Alarm clock is on!</h2>
    <button (click)="turnOffAlarmClock()">Turn off</button>
  </div>
</div>

